:root {
  --color-bg: #A0C0E0; /* Light blue (from 2007 background color) */
  /* #6699CC; Unused (2007 card color) */

  --color-card: #FFF; /* White */
  --color-main-text: #1F2A33; /* Dark blue */

  --color-nav: #003366; /* Dark blue (from 2007 nav color) */
  --color-nav-text: #F2F7FB; /* Light blue */
  /* #000062; Unused (2007 font color) */
  /* #14386A; Unused (2020 button color) */

  --color-accent: #A74E32; /* Warm earthy sienna (analogous color based on bg + nav) */
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--color-bg);
  color: var(--color-main-text);
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.6rem 1rem;
  padding: 0 1rem;
  background: var(--color-nav);
}

.logo {
  height: 2.8rem;
  padding: 1rem;
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .site-header {
    justify-content: center;
    padding-bottom: 0.8rem;
    gap: 0.2rem;
  }

  .logo {
    margin-left: 0;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

nav a {
  display: inline-block;
  padding: 1rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--color-nav-text);
}

nav a.button {
  background: var(--color-accent);
  color: white;
  padding: 0.5rem 0.8rem;
  margin: 0 1rem;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
    justify-content: center;
  }

  nav a {
    padding: 0.5rem;
  }

  nav a.button {
    margin: 0;
  }
}

main {
  max-width: 800px;
  margin: auto;
  padding: 1rem 1rem 0 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.hero img {
  width: 100%;
  max-width: 560px;
}

.card {
  background: var(--color-card);
  padding: 1.2rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.bottom-logo {
  width: 100%;
  max-height: 10rem;
  padding-top: 1.2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
